/* Barcodes EM */

/* libre-barcode-128-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Libre Barcode 128';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/libre-barcode-128-v28-latin-regular.woff2') format('woff2'), 
         url('../fonts/libre-barcode-128-v28-latin-regular.ttf') format('truetype');
}


/* libre-barcode-128-text-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Barcode 128 Text';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/libre-barcode-128-text-v28-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/libre-barcode-128-text-v28-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}


/* libre-barcode-39-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Barcode 39';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/libre-barcode-39-v21-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/libre-barcode-39-v21-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}


/* libre-barcode-39-extended-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Barcode 39 Extended';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/libre-barcode-39-extended-v27-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/libre-barcode-39-extended-v27-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}


/* libre-barcode-39-extended-text-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Barcode 39 Extended Text';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/libre-barcode-39-extended-text-v27-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/libre-barcode-39-extended-text-v27-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}


/* libre-barcode-39-text-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Barcode 39 Text';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/libre-barcode-39-text-v28-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/libre-barcode-39-text-v28-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}


/* libre-barcode-ean13-text-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Barcode EAN13 Text';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/libre-barcode-ean13-text-v21-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/libre-barcode-ean13-text-v21-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}